@import "~taro-ui/dist/style/components/icon.scss";
.curtain{
  // width:100%;
  // height:100%;
  // position:fixed;
  // z-index:1000;
  .shadow{
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:1000;
    opacity:0.2;
  }
  .main{
    width:100%;
    height:600px;
    .title{
      width:100%;
      min-height:50px;
    }
    .action{
      width:100%;
      min-height:50px;
    }
    .main{
      width:100%;
      box-sizing:border-box;
      padding:10px;
    }
  }
  .close{
    font-size:44px;
    border-radius:32px;
    padding:40px;
  }
}