.list{
  width:100%;
  height:100px;
  box-sizing:border-box;
  padding:0 20px;
  .username{
      float:left;
  }
  .username,
  .enter{
      line-height:100px;
  }
  .username{
      width:400px;
      white-space:nowrap;
      text-overflow:ellipsis;
      overflow:hidden;
  }
  .enter{
      float:right;
      margin-right:50px;
      font-weight:500;
      font-size:50px;
  }
}

@media screen and (min-width: 700px) {
  .username{
      font-size:32px;
  }
}