.loading{
  position:relative;
  left:0;
  top:0;
}
.avatar{
  color: transparent;
  text-shadow:0 0 2px rgba(0, 0, 0, 0.5);
  font-size:100%;
  font-weight:bold;
  text-align:center;
  width: 100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items:center;
}