.component-input,
.component-textarea{
  border: none;
  font-size: 28px;
  box-sizing: border-box;
}

.component-input {
  padding: 12px 0;
  height: 68.8px;
  input {
    font-size: inherit !important;
  }
}
.component-textarea {
  padding: 12px;
  textarea {
    font-size: inherit !important;
  }
}

@media screen and (min-width: 700px) {
  .component-input,
  .component-textarea {
    font-size: 32px;
  }
}
