.news-main {
  white-space: nowrap;
  .news-img {
    width: 180px;
    height: 180px;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    .news-img-main {
      width: 100%;
      height: 100%;
    }
    .news-title {
      width: 100%;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      box-sizing: border-box;
      padding: 3px 5px 0 5px;
    }
  }
}
