.index {
  flex-direction: column;
  width: 100%;
  padding-bottom:20px;
  .searchbar{
    
  }
  .swiper{
    
  }
  .itemize{
    box-sizing:border-box;
    padding:10px 10px 10px 10px;
  }
  .news{
    box-sizing:border-box;
    padding:0 10px 10px 0;
    .news-title{
      margin-left:10px;
      font-weight:bold;
    }
  }
  .rank{
    box-sizing:border-box;
    padding:0 10px 10px 10px;
    .rank-title{
      font-weight:bold;
    }
  }
}

@media screen and (min-width: 700px) {
  .news-title,
  .rank-title{
    font-size:32px;
  }
}
