@import "~taro-ui/dist/style/components/flex.scss";
.index {
  flex-direction: column;
  width: 100%;
  padding-bottom:20px;
  .searchbar{
    
  }
  .swiper{
    
  }
  .itemize{
    box-sizing:border-box;
    padding:10px 10px 10px 10px;
  }
  .news{
    box-sizing:border-box;
    padding:0 10px 10px 0;
    .news-title{
      margin-left:10px;
      font-weight:bold;
    }
    .news-title:nth-last-of-type(1) {
      margin-left:0;
      margin-right:10px;
      text-align:right;
      font-size:28px;
    }
  }
  .rank{
    box-sizing:border-box;
    padding:0 10px 10px 10px;
    .rank-title{
      font-weight:bold;
    }
  }
}

@media screen and (min-width: 700px) {
  .news-title,
  .rank-title{
    font-size:32px;
  }
}
