@import "~taro-ui/dist/style/components/flex.scss";
.searchbutton{
    .search{
       
    }
    .point-list{
        width:100%;
        box-sizing: border-box;
        padding:20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        .point{
            width:100%;
            height:50px;
        }
    }
    .hotsearch{
        // margin:10px 0;
        overflow: hidden;
        transition:.3s;
        .title{
            margin-top:5px;
            margin-left:15px;
        }
        .hotlist{
            margin-right:20px;
        }
    }
}