@import "~taro-ui/dist/style/components/flex.scss";
.searchbutton{
    .search{
       
    }
    .hotsearch{
        margin:10px 0;
        overflow: hidden;
        transition:.3s;
        .title{
            margin-top:5px;
            margin-left:15px;
        }
        .hotlist{
            margin-right:20px;
        }
    }
}