@import "~taro-ui/dist/style/components/flex.scss";
.list-component {
  .list-content {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    .list-content-main {
      &-poster {
        position: relative;
        left: 0;
        top: 0;
        flex: 2;
        margin-right: 20px;
        .list-content-icon {
          position: absolute;
          top: 5px;
          left: 5px;
          font-size: 60px;
          color: yellowgreen;
          z-index: 1;
        }
      }
      &-detail {
        flex: 4;
        height: 100%;
        overflow: hidden;
        margin-right: 20px;
        &-name {
          width: 100%;
          overflow: hidden;
          font-weight: bold;
          font-size: 40px;
          overflow-x: scroll;
          white-space: nowrap;
        }
        &-name::-webkit-scrollbar {
          display: none;
        }
        &-rate {
          width: 100%;
          line-height: 1.2;
        }
      }
      &-slot {
        flex: 1;
        text-align: center;
      }
    }
    .list-content-description {
      width: 100%;
      padding: 20px 0;
      margin-top: 10px;
    }
  }
}
.movie-data-list-title-content {
  line-height: 1.2;
  .movie-data-list-title {
    font-size: 28px;
  }
}

@media screen and (min-width: 700px) {
  .detail {
    font-size: 32px;
  }
}
