@import "~taro-ui/dist/style/components/flex.scss";
.list-component {
  .list-content {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    .list-content-main {
      &-poster {
        position: relative;
        left: 0;
        top: 0;
        flex: 2;
        margin-right: 20px;
        .list-content-icon {
          position: absolute;
          top: 0;
          left: 0;
          padding: 8px;
          z-index: 1;
          background-color: rgba(0, 0, 0, 0.2);
          border-radius: 4px;
        }
      }
      &-detail {
        flex: 4;
        height: 100%;
        overflow: hidden;
        margin-right: 20px;
        &-name {
          width: 100%;
          overflow: hidden;
          font-weight: bold;
          overflow-x: scroll;
          white-space: nowrap;
        }
        &-name::-webkit-scrollbar {
          display: none;
        }
        &-rate {
          width: 100%;
          line-height: 1.2;
        }
      }
      &-slot {
        flex: 1;
        text-align: center;
      }
    }
    .list-content-description {
      width: 100%;
      padding: 10px 0;
      margin-top: 10px;
      border: 1px dashed rgba(0, 0, 0, 0.1);
    }
  }
}

.movie-data-list-title-content {
  display: flex;
  line-height: 1.6;
  align-items: center;
  .movie-data-list-title {
    margin-right: .5em;
  }
}

@media screen and (min-width: 700px) {
  
}
