// @import '../../../../theme/custom-theme.scss';
.select{
    .text{
        
    }
    .drawer{
        box-sizing:border-box;
        padding:20px;
    }
}
.active{
    color:#ff6600;
}