@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/icon.scss";
.ellipsis{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.content{
    width:100%;
    height:100%;
    .title{
        width:100%;
        font-weight:bold;
        font-size:48px;
        &-name{
            @extend .ellipsis
        }
        &-store{

        }
    }
    .main{
        width:100%;
        .main-rate{
            .main-rate-number{
                font-weight:bold;
                font-size:40px;
            }
        }
        .text{
           
        }
        .main-info{
            width:100%;
            .actor,
            .type,
            .time-publish,
            .area-lang,
            .hot,
            .look,
            .author,
            .director{
                @extend .ellipsis;
                text-align:left;
                line-height:50px;
            }
            .actor{
                
            }
            .director-content{
                
            }
            .type{

            }
            .time-publish{
                .time{

                }
                .publish{
                    
                }
            }
            .hot,
            .look{
                .hot-text,
                .look-text{
                    color:rgba(0, 0, 0, 0.8);
                    font-size:24px;
                }
            }
            .description{
                border-radius:20px;
                box-sizing:border-box;
                padding: 0 5px;
                .text{
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    overflow: hidden;
                    word-break: break-all;
                    text-indent:56px;
                }
                &-detail{
                    display:inline-block;
                    float:right;
                    padding:0 30px;
                    color:black;
                    border-radius:20px;
                    margin-top:-1px;
                    z-index:1;
                }
            }
            .introduce{
                width:100%;
            }
        }
    }
}

.icon{
    font-size:32px;
}

@media screen and (min-width: 700px) {
    .up-rate,
    .actor,
    .director,
    .type,
    .time-publish,
    .area-lang,
    .hot,
    .look,
    .description{
        font-size:32px;
    }
}