.list{
  height:100px;
  white-space: nowrap;
  padding:0 10px;
}
.item{
  box-sizing:border-box;
  display:inline-block;
  width:100px;
  height:100%;
  padding:10px;
}
.content{
  width:100%;
  height: 100%;
}