@import "~taro-ui/dist/style/components/flex.scss";
.sub{
    margin-bottom:20px;
    .select{
        
    }   
    .look{
        
    }
    .screen{
       
    }
    .select,
    .look,
    .screen{
        text-align:center;
        height:60px;
        line-height:60px;
    }
}