#user{
    min-height:100vh;
    .user-icon{
        margin-bottom:20px;
    }
    .user-list{
        width:100%;
        margin-bottom:100rpx;
    }
    .user-button{
        width:100%;
    }
}