#user {
  min-height: 100vh;
  .page-user-icon {
    margin-bottom: 20px;
  }
  .page-user-list {
    width: 100%;
    margin-bottom: 100rpx;
  }
  .page-user-button {
    width: 100%;
  }
}
