@import "~taro-ui/dist/style/components/flex.scss";
.header-type{
    width:100%;
    position:relative;
    left:0;
    top:0;
    white-space:nowrap;
    overflow:hidden;
    transition:.3s;
    .header{

    }
    .text{
        position:fixed;
        left:0;
        top:0;
        display:inline-block;
        width:125px;
        height:80px;
        line-height:80px;
        z-index:9999;
        text-indent:20px;
        text-align:center;
    }
    .header-list{
        height:80px;
        display:inline-block;
        text-align:center;
        line-height:80px;
        font-weight:bold;
    }
    .header-list:nth-of-type(1) {
        margin-left:125px;
    }
    .header-list-size{
        width:125px;
    }
    .header-type-detail{
        width:100%;
        height:100%;
    }
}
.btn{
    position:fixed;
    right:20px;
    bottom:50px;
    z-index:999;
}