@import "~taro-ui/dist/style/components/flex.scss";
$item_width: 125px;
.header-type{
    overflow:hidden;
    transition:.3s;
    .header{
        position:fixed;
        white-space:nowrap;
    }
    .text{
        position:fixed;
        left:0;
        top:0;
        display:inline-block;
        width:$item_width;
        height:80px;
        line-height:80px;
        z-index:9999;
        text-indent:20px;
        text-align:center;
    }
    .header-list{
        height:80px;
        display:inline-block;
        text-align:center;
        line-height:80px;
        font-weight:bold;
    }
    .header-list:nth-of-type(1) {
        margin-left:$item_width;
    }
    .header-list-size{
        width:$item_width;
    }
    .header-type-detail{
        position:fixed;
    }
}
.btn{
    position:fixed;
    right:20px;
    bottom:50px;
    z-index:999;
}