@import "~taro-ui/dist/style/components/flex.scss";
@import '../../../../theme/custom-theme.scss';
.head {
    // padding:20px 0;
    // border-top:1px dashed rgba(0, 255, 255, 0.1);
    .tab{
        padding: 100px 50px;
        background-color: #FAFBFC;
        text-align: center;
    }
}