.user-comment{
  width:100vw;
  height: 100vh;
  padding:20px;
  box-sizing: border-box;
  &-description {
    padding-bottom:40px;
    &-textarea {
      height: 300px;
      box-sizing: border-box;
      border: 10px solid currentColor;
      border-radius: 10px;
      textarea {
        height: 100%;
      }
    }
  }
}
