@import '~taro-ui/dist/style/components/flex.scss';
.component-icon-list {
  display: flex;
  flex-wrap: wrap;
  &-content-wrapper {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  &-content-wrapper:nth-of-type(3n) {
    padding-right: 20px;
  }
  &-content-wrapper:nth-of-type(3n + 1) {
    padding-left: 20px;
  }
  &-content {
    padding: 10px;
    box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    &-poster {
      height: 150px;
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      &-store {
        position: absolute;
          top: 0;
          left: 0;
          padding: 8px;
          z-index: 1;
          background-color: rgba(0, 0, 0, 0.2);
          border-radius: 4px;
      }
    }
    &-main {
      &-name {
        text-align: center;
        white-space: nowrap;
        overflow-x: scroll;
        width: 100%;
        line-height: 1.4;
      }
      &-name::-webkit-scrollbar {
        display: none;
      }
      &-rate {
        width: 100%;
        line-height: 1.4;
        display: flex;
        justify-content: center;
      }
      &-extra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-avatar{
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
