@import "~taro-ui/dist/style/components/flex.scss";
.icon-list{
    display:flex;
    flex-wrap: wrap;
    &-content{
        box-sizing:border-box;
        padding:20px;
        margin-bottom:40px;
        box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.12);
        display:flex;
        flex-direction: column;
        border-radius: 5px;
        &-poster{
            height:200rpx;
            position:relative;
            left:0;
            top:0;
            width:100%;
            &-store {
                position: absolute;
                left:0;
                top:0;
            }
        }
        &-main {
            &-name{
                font-weight:bold;
                text-align:center;
                white-space:nowrap;
                overflow-x: scroll;
                width:100%;
            }
            &-name::-webkit-scrollbar {
                display:none
            }
            &-rate{
                width:100%;
            }
            &-extra{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}