@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/icon.scss";
.comment{
    width:100%;
    height:600px;
    padding:40px;
    box-sizing:border-box;
    background-color:rgba(0, 255, 0, 1);
    .image-list{
        margin-bottom:16px;
    }
    .image-content{
        border: 1px dashed black;
        width:82px;
        height:82px;
        box-sizing:border-box;
        padding:5px;
        position:relative;
        left:0;
        top:0;
    }
    .close{
        width:5px;
        height:5px;
        position:absolute;
        right:0;
        top:0;
    }
    .input{
        width:100%;
        height:320px;
        margin-bottom:80px;
    }
    .button{
        width:440px;
        height:80px;
        position:relative;
        left:0;
        top:0;
        margin:0 auto;
    }
}