@import "~taro-ui/dist/style/components/icon.scss";
  .main{
    box-sizing:border-box;
    padding:10px;
    .content{
      width:100%;
      .textarea{
      }
    }
    .action {
      width:100%;
      min-height:92px;
    }
  }