@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/icon.scss";
.swiper{
  border-radius:5px;
  box-sizing: border-box;
}
.icon-content{
  text-align:center;
}
