
$small-font-size: 28px;

$normal-font-size: 32px;

$title-font-size: 40px;

$sub-title-font-size: 36px;

.small-font-size-class {
  font-size: $small-font-size;
}

.normal-font-size-class {
  font-size: $normal-font-size;
}

.title-font-size-class {
  font-size: $title-font-size;
}

.sub-title-font-size-class {
  font-size: $sub-title-font-size;
}

$big-icon-font-size: 60px;

.big-icon-font-size-class {
  font-size: $big-icon-font-size;
}

$sub-icon-font-size: 50px;

.sub-icon-font-size-class {
  font-size: $sub-icon-font-size;
}

$normal-icon-font-size: 40px;

.normal-icon-font-size-class {
  font-size: $normal-icon-font-size;
}

.pos-re {
  position: relative;
}
.pos-ab {
  position: absolute;
}

.empty-bg-input {
  margin: 0;
  padding-left: 1.19467rem;
}
// 虚化背景父元素
.filter-background-parent {
  position: relative;
}
// 虚化背景
.filter-background {
  background-size: cover;
  filter: blur(50px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

// 元素flex居中
.flex-dom-center {
  display: flex;
  align-items: center;
}

// width 
.w-100 {
  width: 100%;
}

// display 
.dis-b {
  display: block;
}

// padding 
.padding-4 {
  padding: 4px;
}
.padding-8 {
  padding: 8px;
}
.padding-12 {
  padding: 12px;
}
.padding-16 {
  padding: 16px;
}
.padding-32 {
  padding: 16px;
}

// margin 
.margin-4 {
  margin: 4px;
}
.margin-8 {
  margin: 8px;
}
.margin-12 {
  margin: 12px;
}
.margin-16 {
  margin: 16px;
}

// border-radius 
.border-radius-4 {
  border-radius: 4px;
}
.border-radius-8 {
  border-radius: 8px;
}
.border-radius-12 {
  border-radius: 12px;
}
.border-radius-16 {
  border-radius: 16px;
}

// border-box 
.box-sizing-border {
  box-sizing: border-box;
}

// ellipsis 
.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


