@import '../../../../../theme/custom-theme.scss';
.fee,
.price,
.type,
.time{
    margin-bottom:20px;
}
.price{
    
}
.type{
    padding:0 20px;
    box-sizing:border-box;
    .picker{
        color:black;
        font-weight:bolder;
        border-bottom:1px solid rgba(0, 0, 0, 0.3);
    }
}
.time{
    padding:0 20px;
    box-sizing:border-box;
    .list{
        margin-top:20px;
    }
}
.lang{
    margin-bottom:40px;
}
.other{
    padding-bottom:184px;
}

.btn{
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
}