.list{
    width:100%;
    .content{
        width:100%;
        // height:200px;
        box-sizing:border-box;
        padding:0 80px;
        margin-bottom:10px;
    }
    .content:nth-last-of-type(1) {
        margin-bottom:0;
    }
}