@import "~taro-ui/dist/style/components/flex.scss";
.result {
  width:100%;
  min-height:100vh;
  background-color:rgba(0, 0, 0, 0.1);
  position:relative;
  left:0;
  top:0;
}
.result-point{
  position:absolute;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
  flex-direction: column;
}
