.list{
  width:100%;
  overflow:hidden;
}
.scroll-view{
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
}

.active{
  position:fixed;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
} 

.activeShow{
  opacity: 1;
}

.activeHide {
  opacity: 0;
}

.scroll-fix-header{
  top:0;
}
.scroll-fix-header,
.scroll-fix-bottom{
  position:fixed;
  z-index:999;
  left:0;
  overflow:hidden;
  width:100%;
}
.scroll-normal-header,
.scroll-normal-bottom {
  
}

.scroll-fix-bottom{
  bottom:0;
  width:100%
}