@import '~taro-ui/dist/style/components/flex.scss';
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.data-detail-content {
  width: 100%;
  height: 100%;
  &-main {
    width: 100%;
    &-info {
      width: 100%;
      &-type,
      &-hot,
      &-author{
        @extend .ellipsis;
        text-align: left;
        line-height: 1.8;
        .text {
          padding-left: .5em;
        }
      }
      &-hot-text,
      &-look-text {
        color: rgba(0, 0, 0, 0.8);
      }
      &-description {
        border-radius: 20px;
        box-sizing: border-box;
        padding: 0 5px;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .data-detail-content-main-rate-up,
  .data-detail-content-main-info-hot,
  .data-detail-content-main-info-description {
    font-size: 32px;
  }
}
