.search{
    .search-head{

    }
    .search-main{
        box-sizing:border-box;
        padding:20px 10px 0 10px;
        background-color:rgba(255, 255, 255, 0.8);
        .head{
            margin-bottom:-30px;
        }
    }
}