@import "~taro-ui/dist/style/components/flex.scss";

.type,
.page-search-form-time {
  margin-bottom: 20px;
}
.page-search-form-classify {
  padding: 0 20px;
  box-sizing: border-box;
}
.page-search-form-time {
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 196px;
}
.page-search-form-language {
  margin-bottom: 40px;
}
.page-search-form-other {
  padding-bottom: 184px;
}

.page-search-form-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
