@import "~taro-ui/dist/style/components/flex.scss";
// @import '../../../../theme/custom-theme.scss';
.title{
    width:100%;
    padding-top:10px;
    height:120px;
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    .separate{
        width:2px;
        height:100px;
        margin-top:10px;
        border-radius:1px;
        background-color:rgba(0, 0, 0, 0.3);
    }
    .text{
        display:block;
        text-align:center;
    }
    .message,
    .folder{
        text-align:center;
    }
}