.radio{
    position:relative;
    left:0;
    top:0;
    .select{
        padding-left:32px;
        font-size:32px;
        line-height:60px;
        padding-right:32px;
    }
    .list{
        width:375px;
        height:270px;
        overflow:hidden;
        position:absolute;
        left:0;
        top:60px;   
        transition:.5s;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        z-index:999;
        .content{
            width:750px;
        }
    }
}