.text-ellipsis{
  box-sizing:border-box;
  padding: 0 20px;
  line-height:1.5;
  font-size:30px;
}
.ellipsis-show,
.ellipsis-hidden {
  word-break: break-all;
  text-indent:56px;
}
.ellipsis-show {
  display:block;
}
.ellipsis-hidden{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.ellipsis-detail{
  line-height:30px;
  text-align:right;
}