.page-login {
  height: 100vh;
  &-form {
    background-color: transparent;
    &::after {
      border: none;
    }
  }
  &-submit{
    margin-top: 30px;
  }

  &-register,
  &-forget {
    text-align: center;
    padding: 24px;
  }
}
