.data-actor-icon-list{
  white-space: nowrap;
  &-item{
    display:inline-block;
    width:24vw;
    margin-left: 0.8vw;
  }
  &-item:nth-last-of-type(1) {
    margin-right: 0.8vw;
  }
  &-text{
    width:100%;
    line-height: 1.8;
    text-align:center;
    white-space: nowrap;
    overflow-x: scroll;
  }
  &-text::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .text{
    font-size:32px;
  }
}