.actor{
  white-space: nowrap;
  &-item{
    display:inline-block;
    width:130px;
    height:202px;
    margin-left:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-text{
    width:100%;
    line-height:32px;
    text-align:center;
    white-space: nowrap;
    overflow-x: scroll;
  }
  &-text::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .text{
    font-size:32px;
  }
}