@import "~taro-ui/dist/style/components/flex.scss";
// @import "~taro-ui/dist/style/components/icon.scss";
.header {
  width:100%;
  box-sizing:border-box;
  padding: 10px 20px 20px 20px;
  .content{
    width:100%;
    &-header{
      width:100%;
      .user{
        font-weight: bold;
        text-align:left;
        overflow-x: scroll;
      }
      .user::-webkit-scrollbar{
        display: none;
      }
      .time{
        text-align:right;
      }
    }
    .contnet-main {
      padding:20px 0;
      .content-main-text{

      }
    }
    .content-footer {
      width:100%;
      padding:10px 0;
      .content-footer-main{
        text-align:center;
        height:100%;
        .content-footer-main-icon-content{
          display:flex;
          justify-content: center;
          align-items: center;
          .content-footer-icon{
            font-size:32px;
            margin-right:10px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .content-header{
    height:160px;
  }
  .icon{
    width:160px;
    height:160px;
  }
  .user,
  .time{
    line-height:160px;
  }
}