@import '~taro-ui/dist/style/components/flex.scss';

.comment-detail-header {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px 20px 20px;
  &-content {
    width: 100%;
    &-header {
      width: 100%;
      &-user {
        font-weight: bold;
        text-align: left;
        overflow-x: scroll;
      }
      &-user::-webkit-scrollbar {
        display: none;
      }
      &-time {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    &-main {
      padding: 20px 0;
    }
    &-footer {
      width: 100%;
      padding: 10px 0;
      &-main {
        text-align: center;
        height: 100%;
        &-icon-content {
          display: flex;
          justify-content: center;
          align-items: center;
          &-content-footer-icon {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .comment-detail-header-header {
    height: 160px;
  }
  .comment-detail-header-content-footer-main-icon-content-footer-icon {
    width: 160px;
    height: 160px;
  }
  .comment-detail-header-content-header-user,
  .comment-detail-header-content-header-time {
    line-height: 160px;
  }
}
