@import "~taro-ui/dist/style/components/flex.scss";
.rank-main{
    // $width: 350px;
    // $height: 220px;
    // $area: 20px;
    .rank-title{
        font-size:28px;
        margin:20px 0;
        display:inline-block;
        padding:0 10px;
        border-radius:40px;
    }
    .rank-content{
        width:100%;
        border-radius:10px;
        overflow:hidden;
    }
    .sub-flex{
        min-height:300px;
        display: flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .rank-list{
        position:relative;
        left:0;
        top:0;
    }
}
.icon{
    position:absolute;
    left:20px;
    top:15px;
    width:70px;
    height:25px;
    border-radius:15px;
    text-align:center;
    .icon-text{
        position:absolute;
        top:-20px;
        left:10px;
        font-weight:bold;
    }
}