.detail {
  width:100%;
  height:100%;
}
.content{
  width:100%;
  overflow:hidden;
  .content-main{
    width:100%;
  }
}
._bottom{
  width: 100%;
  position: fixed;
  left:0;
  bottom:0;
  z-index:1;
}