@import "~taro-ui/dist/style/components/flex.scss";
.title{
  position:relative;
  left:0;
  top:0;
  margin-bottom:10px;
}
.item-title{
  display:inline-block;
  font-weight:400;
  line-height:60px;
  font-size:40px;
  z-index:2;
  position: relative;
  left:0;
  top:0;
}
.divider{
  width:100%;
  position:absolute;
  left:0;
  top:50%;
  transform: translateY(-50%);
  text-align:right;
}
.text{
  
}