.data-issue {
  padding: 20px;
  box-sizing:border-box;
  &-video {
    width:100%;
    margin-bottom: 20px;
  }
  &-name{
    width:100%;
    box-sizing:border-box;
  }
  &-description {
    padding-bottom:40px;
  }
  &-language,
  &-publishTime,
  &-image {
    margin-bottom:40px;
  }
}