.comment{
    position:relative;
    left:0;
    top:0;
    // .head{
    //     margin-bottom:60px;
    // }   
    .list{
        border-bottom:1px solid rgba(0, 0, 0, 0.1);
        margin-bottom:92px;
    }
    // .button{
    //     width:100%;
    //     height:92px;
    //     position:fixed;
    //     bottom:0;
    //     left:0;
    // }
    .publish{
        
    }
}